@import url("https://www.w3schools.com/w3css/4/w3.css");



.margintop {
  margin-top: 50px;
}

input {
  
  width: 100%;
  border: none;
  border-bottom: 2px solid blue;
  font-size: xx-large;
  
  
 
}

input[type=text]:focus {
  border: 0px solid #555;
}

.inputFieldParent {

  position: relative;
  /* bottom: 100px; */
  width: 100%;
  top: 60px;

}

.inputFieldChild{
  margin: 0 auto;
  width: 70%;
  
}

.buttonChild {
  margin: 0 auto;
width: 10%;


}

.li-container {

  font-size: xx-large;
  
}

ol {

/* outline: 1px solid purple; */
box-shadow: 0 1px 0 purple;

padding-right: 30px;
margin-bottom: 20px;

}

span {
  position: relative;
  display: block;
  cursor: pointer;
}

span:before, span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: black;
}


span:before {
  left: -2.5px;
}
span:after {
  right: 2.5px;
  background: black;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
  background: black;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}
